
  .header {
    position: relative;
    z-index: 2;
  }

  
  .headerBottom {
    background: var(--white);
    padding-block: 25px;
  }
  .container { padding-inline: 15px; }
  
  .headerBottom .logo img { margin-inline: auto; height: 50px;}
  
  .navbar {
    background: var(--white);
    position: fixed;
    top: 0;
    left: -310px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);
    z-index: 5;
    padding: 60px 20px;
    visibility: hidden;
    transition: 0.15s ease-in;
  }
  
  .navbar.active {
    visibility: visible;
    transform: translateX(310px);
    transition: 0.25s ease-out;
  }
  
  .navbarTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--cultured-1);
    margin-bottom: 25px;
  }
  
  .navbarTop .logo img { width: 200px; height: 50px;}
  
  .navCloseBtn ion-icon {
    font-size: 20px;
    --ionicon-stroke-width: 45px;
    padding: 5px;
  }
  
  .navbarLink {
    color: var(--cadet);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    padding-block: 15px;
    text-decoration: wavy;
  }
  
.navbarLink:hover,
.navbarLink:focus {
  color: #206679; /* Change this to your desired color */
}
  .overlay {
    position: fixed;
    inset: 0;
    background: hsla(0, 0%, 0%, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
    z-index: 4;
  }
  
  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  
  .headerBottomActions {
    background: #206679;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    padding-block: 15px 10px;
    box-shadow: -2px 0 30px hsla(237, 71%, 52%, 0.2);
    z-index: 3;
    border: 1px solid #eee;
    border-radius: 50px;
  }
  .headerBottomActionsBtn {
    background: var(--white);
    width: 50px;
    height: 50px;
    box-shadow: var(--shadow-2);
    border:none;
    /* border-radius:50%; */
    /* border-style: groove; */
  }

  .headerBottomActionsBtn ion-icon {
    color:white;
    font-size: 20px;
    margin-inline: auto;
    margin-bottom: 5px;
    --ionicon-stroke-width: 40px;
    transition: var(--transition);
  }
  
  .headerBottomActionsBtn:hover, 
  .headerBottomActionsBtn:focus  { 
    border: #eee;
    border-style: dashed;
    border-radius: 50%;
}
  
  .headerBottomActionsBtn span {
    color: var(--cadet);
    font-family: var(--ff-poppins);
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    display: none;
  }
  
  
  
  
  
  /*-----------------------------------*\
    #HERO
  \*-----------------------------------*/
  
  
  
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for larger than 600px screen
   */
  
  @media (min-width: 600px) {
  
   
  
    .container {
      max-width: 550px;
      margin-inline: auto;
    }
  
    .has-scrollbar {
      gap: 25px;
      margin-inline: -25px;
      padding-inline: 25px;
      scroll-padding-left: 25px;
    }
  
    .has-scrollbar > li { min-width: calc(50% - 12.5px); }


  .headerBottomActions {
    background:#206679;
    position: fixed;
    /* bottom: 0;
    left: 0;
    width: 100%; */
    display: flex;
    justify-content: space-evenly;
    padding-block: 15px 10px;
    box-shadow: -2px 0 30px hsla(237, 71%, 52%, 0.2);
    z-index: 3;
  }
  
  .headerBottomActionsBtn ion-icon {
    color: whitesmoke;
    font-size: 20px;
    margin-inline: auto;
    margin-bottom: 5px;
    --ionicon-stroke-width: 40px;
    transition: var(--transition);
  }
  
  .headerBottomActionsBtn:hover,
    .headerBottomActionsBtn:focus ion-icon {
     color: #206679; 
    }
  
  .headerBottomActionsBtn span {
    color: var(--cadet);
    font-family: var(--ff-poppins);
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
  }
  
  
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
    .headerBottomActionsBtn ion-icon {
        color: #206679;
        
      }
  
    .container { max-width: 720px; }
  
    .btn {
      --fs-5: 1rem;
      padding: 12px 28px;
    }
  
  
  
    /**
     * HEADER
     */
  

  
    .headerBottomActions {
      all: unset;
      display: flex;
      align-items: center;
      gap: 10px;
     
    }
  
    .headerBottom .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .headerBottomActionsBtn ion-icon { margin-bottom: 0; }
  
    .headerBottomActionsBtn span { display: none; }
  
    .headerBottomActionsBtn {
      background: var(--white);
      width: 50px;
      height: 50px;
      box-shadow: var(--shadow-2);
      /* border:none; */
      border-radius:50%;
    }
  
  
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * CUSTOM PROPERTY
     */
  

  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 970px; }
  
    .btn { padding: 15px 40px; }
  
  
  
    /**
     * HEADER
     */
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */

  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1200px; }
  
    .has-scrollbar > li { min-width: calc(33.33% - 16.66px); }
  
  
  
    /**
     * HEADER
     */
  
    .headerBottom { padding-block: 30px; }
  
    .headerBottomActionsBtn:last-child,
    .navbarTop,
    .overlay { display: none; }
  
    .navbar,
    .navbar.active { all: unset; }
  
    .navbarList {
      display: flex;
      align-items: center;
      gap: 30px;
      list-style-type: none;
    }
  
    .navbarLink {
      color: var(--dark-jungle-green);
      --fs-5: 1.125rem;
      text-transform: capitalize;
    }
  
    .header { padding-bottom: 114px; }
  
    .headerBottom {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  
    .header.active .headerBottom {
      position: fixed;
      bottom: auto;
      top: -94px;
      padding-block: 20px;
      box-shadow: 0 10px 50px hsla(237, 71%, 52%, 0.2);
      animation: slideDown 0.25s ease-out forwards;
    }
  
    @keyframes slideDown {
      0% { transform: translateY(0); }
      100% { transform: translateY(100%); }
    }
  
  
  }